/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  
  --primary: #D86D00;
  --primary-hover: #BD4000;
  --primary-focus: rgba(217, 110, 0, 0.125);
  --primary-inverse: #fff;

  --color: #001A0F;
  --h1-color: #001A0F;
  --h2-color: #001A0F;
  --h3-color: #00331E;
  --h4-color: #00331E;  
  --h5-color: #3F5A4F;
  --h5-color: #3F5A4F;
}

/* Yellow Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #FF9A33;
    --primary-hover: #FFC080;
    --primary-focus: rgba(253, 216, 53, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
    --background-color: #001A0F;
  }
}
/* Yellow Dark scheme (Forced) */
/* Can be forced with data-theme="dark" */
html[data-theme='dark'] { 
    --primary: #FF9A33;
    --primary-hover: #FFC080;
    --primary-focus: rgba(253, 216, 53, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
    --background-color: #001A0F;
}


/* (Common styles) */
:root {
  --font-family: 'Lato', sans-serif;
  --primary: #D86D00;
  --primary-hover: #BD4000;
  --primary-focus: rgba(217, 110, 0, 0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75); 
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  /* --block-spacing-vertical: 1px; */
  /* --typography-spacing-vertical: 0.5rem; // Do in pico file instead */
  font-family: var(--font-family);
}

/* Fixing Block spacing */
body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) / 2);
  }

@media (min-width: 576px) {
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) / 2);
  }
}
@media (min-width: 768px) {
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 1);
  }
}
@media (min-width: 992px) {
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 1.5);
  }
}

@media (min-width: 1200px) {
  body > header,
  body > main,
  body > footer,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 1.5);
  }
}

/* Fixing typography 3
html, body, form, fieldset, table, tr, td, img {
  font-family: var(--font-family);
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
}*/

h1 {
  --font-size: 2.5rem;
  line-height: 1.1;
  --typography-spacing-vertical: 1rem;
}

h2 {
  --font-size: 1.5rem;
}

h3 {
  --font-size: 1.3rem;
}

h4 {
  --font-size: 1.2rem;
}

h5 {
  --font-size: 1.125rem;
}

h2,h3,h4,h5 {
  line-height: 1.2;
  --typography-spacing-vertical: 1rem;
  margin-bottom: calc(var(--typography-spacing-vertical) / 2);
}

/* Customizations */
/* TODO: Why was that here? 
[data-theme="light"] div {
  background-color: #666;
  color:#BD4000
}
*/


header > nav > ul > li > a > img {
  max-width: 150px;
}

/* TODO: Change to Vector */
[data-theme="light"] header > nav > ul > li > a > img {
  content: url("/static/img/logo.webp");
}

/* TODO: Change to Vector */
[data-theme="dark"] header > nav > ul > li > a > img {
  content: url("/static/img/logo-darkmode.webp");
}

header > nav > ul > li > a[data-current="current item"] {
  background-color: var(--primary-focus);
}

button {
  font-weight: 700;
  color: var(--primary-inverse);
}

/* Responsive adjustments for small screens */
@media (max-width: 576px) {
  nav {
      flex-direction: column;
      align-items: center;
  }

  nav > ul:first-child {
      justify-content: center;
  }

  nav > ul:last-child {
    position: absolute;
    top: 0;
    right: 0;
}
}

/**
* Grid
* Minimal grid system with auto-layout columns
*/
.grid {
  grid-column-gap: var(--block-spacing-horizontal); /* var(--grid-spacing-horizontal); */
  grid-row-gap: var(--block-spacing-vertical);
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0%, 1fr));
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0%, 1fr));
  }
}

.grid > * {
  min-width: 0;
}

/*
.grid>div {
  padding: calc(var(--grid-spacing-horizontal)/2) 0;
  background-color: red;
}
*/
